
body {
    font-family: sans-serif;
    background-color: #F6F3EE; 
    color: #333;
    line-height: 1.6;
}

.navbar {
    display: flex;
    justify-content: space-between; /* đẩy logo sang trái , menu ra giữa và user sang phải */ 
    align-items: center;
    padding: 15px 5%; /* tạo khoảng cách */ 
    background-color: transparent; 
    box-shadow: none; 
}

.logo {
    color: #004d3d; 
    font-weight: bold;
    font-size: 24px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    margin: 0 15px;
    font-weight: 500;
    padding-bottom: 5px;
}

.nav-links a.active {
    color: #004d3d;
    border-bottom: 2px solid #004d3d; 
}

.user-section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.btn-report {
    background-color: #8b4513; 
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

.user-name {
    color: #333;
    font-size: 14px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.footer {
    padding: 60px 5%;
.footercolor a{
    text-decoration: none;
    color: #71717A;
}
}
.footer-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.newsletter-box input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 25px;
    border: none;
    background-color: #E2DFD9; 
    outline: none;
}

.btn-join {
    position: absolute;
    right: 5px;
    background-color: #0C4D37; 
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
 .nav-links ::hover {
    color: #004d3d; 
    transition: 0.3s; 
}  
main{
    padding:60px 5%;
.speciesblock1{
    
}
#speciesline1{
    color: #004d3d; 
    font-weight: bold;
    font-size: 50px;
}
.speciesline2{
    display: flex;
}
.speciesline2 span{
    max-width: 65%;
    font-size: 25px;
}
.speciesSearchBar{
    margin-left: 12%;
    margin-top: 3%;
    position: relative;
    display: inline-block;
}
.speciesSearchBar input{
    border: none;
    width: 130%;
    height: 130%;
    background-color: rgb(226, 226, 226);
    border-radius: 15px;
    padding-left: 40px;
    font-size: 15px;
   outline: none;
}
.search-icon{
    position: absolute;
    left: 15px;
    top: 40%;
}
.speciesblockend{
    margin-top: 50px;
    display: flex;
    max-width: 1100;
    background-color: #e7e5e0;
    height: 500px;
    border-radius: 15px;
    padding:20px 20px 20px 20px;
    margin:50px auto;
}
.speciesTextEnd{
    margin-top: 40px;
    margin-left: 20px;
    width: 700px;
}
#endline1{
    color: #8E4E14;
    font-size: 15px;
    font-weight: bold;
    
}
#endline2{
    color: #004d3d;
    font-size: 60px;
   font-weight: bold;
}
#endline3{
    font-size: 20px;
}
.speciesbuttonend{

}
.speciesbuttonend button{
    margin-top: 45px;
    padding: 20px 30px;
    margin-left: 10px;
    border: none;
    background-color:  #0F5238;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
}
.speciesbuttonend button:hover{
    background-color: white;
    color: #004d3d;
}
.speciesblockend img{
   margin: 50px 0px 0px 150px;
    width:700px;
    height: 400px;
    border-radius: 15px;
}
.speciesBlockLibarary{  /*Giãn khoảng cách của card với rìa ra ra cho khi mở nó không  bị mất định dạng 4 card 1 dòng*/
   
    padding: 2%;      
}
}
